body {
    font-family: Sans;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 10px;
	background-color: #e0e0e0;
}

section {
    margin: 20px;
}

.img {
    width: 400px;
    height: 350px;
    padding: 10px;
}

footer {
    background-color: white;
    color: white;
    text-align: left;
    padding: 10px;
}
