header {
  background-color: #FF4FFF;
  color: white;
  padding: 10px;
  text-align: center;
}

body {
  font-family: Sans;
  padding: 0;
  margin: 0;
  background-color: #505050;
}

#formulario {
  width: 250px;
  height: 350px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  text-align: center;
}
